/*                      */
/*        Reset         */
/*                      */

/* Box sizing */

*,
*::after,
*:before {
	box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
	margin: 0;
}

/* Set up the body */

body {
	line-height: 1.5;
}

/* make images easier to work with */

img,
picture {
	max-width: 100%;
	display: block;
}

/* make form elements easier to work with  */

input,
button,
textarea,
select {
	font: inherit;
}

/* remove animation for people who've turned them off */

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01 !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01 !important;
		scroll-behavior: auto !important;
	}
}

:root {
	--text-color: #2b1204;
	--bg-color: rgb(253, 246, 242);
	--primary-color: #e66428;
	--secondary-color: #f0d97f;
}

body {
	background: var(--bg-color);
}

/* container */

.container {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	font-size: 14px;

	max-width: 500px;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	gap: 2em;

	padding: 2em 1em 1em;
	margin: 0 auto;
	color: var(--text-color);
	background: var(--bg-color);
}

/* header section */

.header {
	border-bottom: 2px solid var(--text-color);
}

.title {
	font-size: 2em;
	font-weight: 900;
}

/* balance section */

.balance {
	display: flex;
	gap: 2rem;
	justify-content: center;
	font-size: 1.2em;
	line-height: 2.5em;
	padding-block: 1rem;
}

.income-expence {
	display: flex;
	justify-content: space-around;
}

.income-expence {
	position: relative;
	background-color: var(--text-color);
	color: var(--primary-color);
	margin: 1em auto 0;
	text-align: center;
}

/* .income-expence::after {
	content: '';
	position: absolute;
	background-color: var(--primary-color);
	top: 17px;
	width: 3px;
	height: 60px;
} */

.income,
.expence {
	font-weight: 600;
	background-color: var(--bg-color);
	width: 100%;
	font-size: 1.3em;
	line-height: 2em;
	padding-block: 0.5em;
}

.income {
	background: rgb(0, 128, 0);
	background: linear-gradient(
		90deg,
		rgba(0, 128, 0, 1) 0%,
		rgb(253, 246, 242) 30%,
		rgb(253, 246, 242) 100%
	);
	border-left: 0.2em solid #008000;
}

.expence {
	background: rgb(255, 0, 0);
	background: linear-gradient(
		270deg,
		rgb(255, 0, 0) 0%,
		rgb(253, 246, 242) 30%,
		rgb(253, 246, 242) 100%
	);
	border-right: 0.2em solid hsl(0, 100%, 50%);
}

/* history section */

.history-title {
	border-bottom: 2px solid var(--text-color);
}

.history-detail-title {
	/* min-width: 200px; */
	max-width: 210px;
	word-wrap: break-word;
}

.history-detail {
	min-width: 440px;
	font-size: 1.4em;

	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: center;

	color: var(--text-color);

	margin-top: 0.5em;
	padding: 0.5em 1em;
}

.history-detail-money {
	padding-left: 0.5em;
	white-space: nowrap;
}

.date {
	font-size: 0.75em;
	font-weight: 600;

	color: var(--primary-color);
	margin-left: 0.5em;
	margin-right: auto;
}

/* transaction section */

.transaction-title {
	font-size: 1.5em;
	margin-bottom: 0.1em;
	border-bottom: 2px solid var(--text-color);
}

.add-transaction {
	display: flex;
	flex-direction: column;
}

.transaction-text,
.transaction-money {
	font-size: 1.2em;
	padding: 0.5em;
	margin-bottom: 1em;
	background-color: var(--bg-color);
	border: 1px solid var(--text-color);
}

.add-transaction > label {
	font-weight: 700;
	font-size: 1.2em;
	margin-top: 0.5rem;
}

.transaction-submit {
	font-weight: 700;
	font-size: 1.2em;

	outline: 2px solid var(--text-color);
	background-color: var(--bg-color);
	color: var(--text-color);

	padding: 0.5em;
	margin-block: 1em;

	border: none;
}

.transaction-submit:hover {
	background-color: var(--secondary-color);
	cursor: pointer;
}

.button {
	color: var(--text-color);
	outline: 2px solid var(--text-color);
	margin-left: 1.2em;
	margin-right: 0.6em;
	padding-inline: 0.45em;
	border: none;
}

.button:hover {
	background-color: var(--secondary-color);
	cursor: pointer;
}
