/*                      */
/*        Reset         */
/*                      */

/* Box sizing */

*,
*::after,
*:before {
	box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
	margin: 0;
}

/* Set up the body */

body {
	line-height: 1.5;
}

/* make images easier to work with */

img,
picture {
	max-width: 100%;
	display: block;
}

/* make form elements easier to work with  */

input,
button,
textarea,
select {
	font: inherit;
}

/* remove animation for people who've turned them off */

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01 !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01 !important;
		scroll-behavior: auto !important;
	}
}

:root {
	--text-color: #001B06;
	--bg-color: #E6E8E6 ;
	--primary-color: #e66428;
	--secondary-color: #797A9E;
	--expense-color: hsl(0, 87%, 38%);
	--income-color: hsl(126, 79%, 24%);

}

body {
	background: var(--bg-color);
}

/* container */

.container {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	font-size: 14px;

	max-width: 500px;
	min-width: 350px;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	gap: 2em;

	padding: 2em 1em 1em;
	margin: 0 auto;
	color: var(--text-color);
	background: var(--bg-color);
}

/* header section */

.header {
	border-bottom: 2px solid var(--text-color);
}

.title {
	font-size: 2em;
	font-weight: 900;
}

/* balance section */

.balance {
	display: flex;
	gap: 2rem;
	justify-content: center;
	font-size: 1.2em;
	line-height: 2.5em;
	padding-block: 1rem;
}

.income-expense {
	display: flex;
	justify-content: space-around;
}

.income-expense {
	margin: 1em auto 0;
	text-align: center;
}

.income,
.expense {
	font-weight: 600;
	background-color: var(--bg-color);
	width: 100%;
	font-size: 1.3em;
	line-height: 2em;
	padding-block: 0.5em;
}

.income {
	border-radius: 10px 0 0 10px;
}

.expense {
	border-radius: 0 10px 10px 0;
}

.income {
	background: var(--income-color);
	color: var(--bg-color)
}

.expense {
	background: var(--expense-color);
	color: var(--bg-color)
}

/* history section */

.history-title {
	border-bottom: 2px solid var(--text-color);
}

.history-detail-title {
	max-width: 210px;
	word-wrap: break-word;
}

.history-detail {
	font-size: 1.4em;

	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: center;

	color: var(--text-color);

	margin-top: 0.5em;
	padding: 0.5em 1em;

	border-radius: 5px;
}

.history-detail-money {
	padding-left: 0.5em;
	white-space: nowrap;
}

.date {
	font-size: 0.75em;
	font-weight: 600;

	color: var(--primary-color);
	margin-left: 0.5em;
	margin-right: auto;
}

/* transaction section */

.transaction-title {
	font-size: 1.5em;
	margin-bottom: 0.1em;
	border-bottom: 2px solid var(--text-color);
}

.add-transaction {
	display: flex;
	flex-direction: column;
}

.transaction-text,
.transaction-money,
.categories {
	font-size: 1.2em;
	padding: 0.5em;
	margin-bottom: 1em;
	background-color: var(--bg-color);
	border: 1px solid var(--text-color);
}

.add-transaction > label {
	font-weight: 700;
	font-size: 1.2em;
	margin-top: 0.5rem;
}

.transaction-submit {
	font-weight: 700;
	font-size: 1.2em;

	outline: 2px solid var(--text-color);
	background-color: var(--bg-color);
	color: var(--text-color);

	padding: 0.5em;
	margin-block: 1em;

	border: none;
}

.transaction-submit:hover {
	background-color: var(--secondary-color);
	cursor: pointer;
}

.button {
	color: var(--text-color);
	outline: 2px solid var(--text-color);
	margin-left: 1.2em;
	margin-right: 0.6em;
	padding-inline: 0.45em;
	border: none;
}

.button:hover {
	background-color: var(--secondary-color);
	cursor: pointer;
}
